<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,400&display=swap');
      </style>
</head>
<body>
    <div id="message-container"></div>
    <form action="" id="send-container">
        <input type="text" placeholder="enter text" id="message-input"class="message">
  <br><br> <button type="submit">Send</button>
   
    </form>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script defer src="script.js"></script>

</body>
</html>